.About {
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .About {
    padding: 0;
  }

  .About .hero-banner {
    height: 14rem;
  }

  .About .collapses-box {
    margin: 1.5rem 0;
  }
}