.loader-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    animation: loader-wrap 3s ease-in;
    animation-fill-mode: forwards;
    opacity: 1;
}

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: linear-gradient(175deg, #FF79DA, #9356DC);
    position: relative;
    animation: load 2s infinite ease;
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-wrap {
    90% {
        opacity: 1;
        z-index: 1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

.presentation {
    animation: present 1.5s forwards;
    animation-delay: 0s;

    &:nth-of-type(2) {
        animation-delay: 0.5s;
    }

    &:nth-of-type(3) {
        animation-delay: 1s;
    }

    &:nth-of-type(4) {
        animation-delay: 1.5s;
    }

}

@keyframes present {
    from {
        opacity: 0;
        transform: translateY(+20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.presentation:hover>.check>.fa-circle-check {
    animation: circleCheck 1s ease;
}

@keyframes circleCheck {
    0% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.presentation:hover>.menuDesc {
    animation: check 1s forwards;
}

@keyframes check {
    0% {
        width: 80%;
    }

    100% {
        width: calc(80% - 60px);
    }
}

.presentation:hover>.check {
    animation: dispCheck 1s forwards;
}


@keyframes dispCheck {
    0% {
        right: -60px;
    }

    100% {
        right: 0;
    }
}