/* ///// Main Page /////*/

body {
    margin: auto;
    width: 100%;
    font-family: 'Roboto';
    font-weight: 500;
    background-color: #444442;
    background-image: url(https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-position: center
}

.flexnav {
    width: 100%;
    display: flex;
    background-color: #1f1a1a;
    color: #ffffff
}

@media only screen and (max-width: 768px) {
    .flexnav {
        flex-direction: row-reverse;
        position: fixed;
        top: 0;
    }
}

.pagetitle {
    margin: auto
}

.connexe li {
    display: inline;
    list-style-type: none;
}

.connexe li a {
    color: #ffffff;
    text-decoration: none;
}

.icon {
    padding-left: 10px;
    padding-right: 11px;
    width: 30px;
    height: 30px
}

a:hover {
    border: 3px #3D3F40 outset;
    padding-top: 14%
}

.maincontent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: larger;
    margin-top: 1%
}

.leftaside {
    box-shadow: 10px 5px 5px #2d2d2d;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    background-color: #2d2d2d;
    margin-bottom: 2%;
    margin-top: 5px
}

@media only screen and (max-width: 768px) {
    .leftaside {
        margin-top: 15%;
    }
}

table,
td {
    padding: 3% 0 4% 5%;
    color: white
}

.titleaside {
    font-weight: 300
}

.contentaside {
    border: 0
}

.roll {
    background-color: #bed4da;
    display: table;
    margin: 0 auto;
    padding: 1%
}

.video {
    padding-top: 7%;
    border: 0;
    width: 541px;
    height: 400px;
}

@media only screen and (max-width: 768px) {
    .video {
        width: 100%;
    }
}

article {
    width: 624px;
}

@media only screen and (max-width: 768px) {
    .article {
        width: 100%;
    }
}

section {
    padding-bottom: 1%
}

section nav {
    padding: 4% 6% 4% 6%;
    line-height: 130%
}

section h1,
section h3 {
    margin: 0;
    padding-left: 6%;
    padding-right: 6%;
    background-color: #2d2d2d;
    color: #ffffff
}

section h1 {
    padding-bottom: 1%;
    padding-top: 3%
}

section h3 {
    font-weight: 300;
    padding-bottom: 3%
}

.python {
    padding-top: 3%
}

.sectionwide {
    margin: 1%;
    border-radius: 10px;
    background-color: #bed4da;
    background-clip: padding-box;
    box-shadow: inset 0 0 0 5px #2d2d2d
}

.inlastsection {
    padding-bottom: 4%
}

.lastsection {
    margin-bottom: 14%
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #1f1a1a
}

/* ///// Form /////*/

.titleform {
    font-size: 72px;
    color: white;
    margin-top: 20%;
    text-align: center
}

.sentform {
    font-size: 20px;
    color: #d3d1d1;
    line-height: 1.5;
    text-align: center
}

.responsmain {
    margin: auto;
    width: 650px;
    max-width: 100%;
    color: antiquewhite
}

input,
textarea {
    padding-top: 30px;
    padding-bottom: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px
}

textarea {
    width: 100%;
    min-height: 15em
}


input:focus,
textarea:focus {
    outline: 0;
}

input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    transition: all 0.225s ease
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px
}

.number {
    float: right
}

.styled-input.wide {
    width: 650px;
    max-width: 100%;
}

.styled-input label {
    color: rgb(247, 244, 208);
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    transition: all 0.25s ease;
    pointer-events: none
}

.submit-btn {
    float: right;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
        0 2px 10px 0 rgba(0, 0, 0, 0.07);
    transition: all 300ms ease;
    padding: 1%
}

@media (max-width: 768px) {
    .submit-btn {
        width: 75%;
        text-align: center;
        margin-bottom: 18%
    }
}

.submit-btn:hover {
    transform: translateY(3px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10),
        0 1px 1px 0 rgba(0, 0, 0, 0.09)
}

@media only screen and (max-width: 768px) {
    .styled-input {
        width: 100%
    }
}