 *,
 *:before,
 *:after {
     margin: 0;
     padding: 0;
     box-sizing: inherit
 }

 *:not(html, body, header, .flexnav, .flexnav>.connexe, a, main, .cardMain article, .asideMain article, .asideMain article div, .activities article, .smallAndBig, .bigAndSmall, footer) {
     margin-top: 1%;
 }

 .connexe a,
 .fa-location-dot,
 .list button,
 .list button span,
 .list button::before {
     display: inline-flex
 }

 body,
 .flexnav,
 .filter,
 .fa-info::before,
 #information,
 main,
 main section,
 .asideMain article,
 .activities,
 .bigAndSmall,
 .smallAndBig,
 footer {
     display: flex
 }

 .widthfilter,
 .cardMain article,
 .cardMain a,
 .asideMain div {
     display: block
 }

 h3,
 .cardMain article h4 a {
     width: 100%
 }

 span,
 .widthfilter,
 .pets::before,
 .money-bill-wave::before,
 .child-reaching::before,
 .heart::before,
 .fa-info::before,
 .cardMain a,
 .stars {
     font-weight: bold
 }

 body,
 .activities>article,
 .activities div {
     height: 100%
 }

 header,
 .connexe,
 .widthfilter,
 main,
 .activities {
     width: 92%
 }

 body,
 main,
 main section,
 .activities {
     flex-wrap: wrap
 }

 body,
 .cardMain article {
     margin: auto
 }

 header,
 .widthfilter,
 main,
 .activities {
     margin: 0 auto 0 auto
 }

 .flexnav a img,
 .asideMain article {
     height: auto
 }

 .connexe,
 .asideMain span.stars {
     height: 32px
 }

 .connexe a,
 .asideMain span.stars {
     float: right
 }

 .connexe a,
 .list button,
 main,
 .cardMain,
 .asideMain,
 .cardMain article,
 .asideMain div,
 .activities,
 .bigAndSmall,
 .smallAndBig {
     justify-content: space-between
 }

 img {
     object-fit: cover
 }

 .fa-location-dot,
 .list button::before,
 .fa-info::before {
     justify-content: center
 }

 .fa-location-dot,
 .list button,
 .filter,
 .list button::before,
 .fa-info::before,
 .asideMain,
 .asideMain article,
 .activities article h4 {
     align-items: center
 }

 .connexe a:hover,
 .list button::before,
 .fa-info::before,
 .stars::before {
     color: #0065FC
 }

 .searchbar {
     background-color: #0065FC
 }

 a,
 .asideMain span.stars::after {
     color: black
 }

 .fa-location-dot,
 .searchbar {
     height: 50px
 }

 a {
     text-decoration: none
 }

 li {
     list-style-type: none
 }

 .list button::before,
 .fa-info::before {
     border-radius: 50%
 }

 .cardMain article,
 .asideMain article {
     background-color: white
 }

 .list button::before,
 .cardMain span,
 .stars {
     font-family: "Font Awesome 6 free"
 }

 html {
     box-sizing: border-box;
     min-height: 100%;
 }

 body {
     font-family: 'Raleway', sans-serif;
     max-width: 1440px;
     line-height: 150%
 }

 .flexnav a img {
     width: 50%;
 }

 .connexe a {
     border-top: 1px solid transparent;
     padding: 2% 1% 1% 1%
 }

 .connexe a:hover {
     border-top: 2px solid #0065FC
 }

 #booki {
     padding-top: 1%;
 }

 .fa-location-dot::before {
     content: '\f3c5'
 }

 .fa-location-dot {
     width: 50px;
     background-color: #F2F2F2;
     border-radius: 15px 0 0 15px
 }

 #searchbar {
     border: none;
     background-color: transparent;
     resize: none;
     outline: none;
 }
 #searchbar text{
    font-weight: bold;
 }

 .list button {
     margin: 0 1%;
     border-radius: 24px;
     border: 1px solid #F2F2F2;
     background-color: white
 }

 .list button span {
     font-size: 16px;
     margin: 0;
     padding-left: 1%;
     padding-right: 3%
 }

 button.pets {
     width: 195px
 }

 .searchbar {
     border-radius: 0 15px 15px 0;
     border: none;
     color: white;
     font-size: 16px;
     width: 150px
 }

 .fa-solid.fa-magnifying-glass {
     display: none
 }

 .list {
     font-size: 18px
 }

 .widthfilter h4 {
     font-weight: lighter
 }

 .list button::before {
     width: 40px;
     height: 40px;
     background-color: #DEEBFF;
     float: left
 }

 .pets::before {
     content: "\f6d3"
 }

 .money-bill-wave::before {
     content: '\f53a'
 }

 .child-reaching::before {
     content: '\e59d'
 }

 .heart::before {
     content: "\f004"
 }

 .fa-info::before {
     content: '\f129';
     border: 1px solid grey;
     width: 24px;
     height: 24px
 }

 #information {
     font-weight: normal;
     font-size: 16px
 }

 .cardMain,
 .asideMain {
     border-radius: 2%;
     gap: 20px;
     background-color: #F2F2F2;
     padding: 2% 1%
 }

 .cardMain {
     width: 65%
 }

 .cardMain article {
     width: 245px;
     border-radius: 24px;
     box-shadow: 0px 0px 10px #ccc;
     border: 4px solid white
 }

 article h4,
 article p,
 article span {
     padding-left: 10px;
 }

 .cardMain article img {
     max-height: 120px;
     width: 100%;
     border-radius: 24px 24px 0 0
 }

 article h4 {
     font-size: 16px
 }

 .cardMain a {
     width: 100%
 }

 .asideMain {
     width: 32%;
     flex-direction: column
 }

 .asideMain article {
     border-radius: 24px;
     box-shadow: 0px 0px 10px #ccc;
     border: 4px solid white;
     width: 90%
 }

 .asideMain article img {
     width: 35%;
     height: 160px;
     border-radius: 15px 0 0 15px;
     margin-right: 20px
 }

 .asideMain article div>div {
     margin-top: 30%;
     padding-left: 10px;
 }

 .activities img {
     height: calc(100% - 50px);
     width: 100%;
     border-radius: 36px 36px 0 0
 }

 .bigAndSmall,
 .smallAndBig {
     flex-direction: column
 }

 .bigAndSmall article:first-of-type,
 .smallAndBig article:last-of-type {
     height: 220px
 }

 .bigAndSmall article:last-of-type,
 .smallAndBig article:first-of-type {
     height: 180px
 }

 .activities article {
     box-shadow: 4px 6px 8px 0 #f4f4f4
 }

 .activities>article,
 .activities div {
     width: 22%
 }

 .activities>article,
 .activities div article {
     border-radius: 36px 36px 36px 36px
 }

 .activities article:last-child {
     margin: 0
 }

 .activities article h4 {
     padding-left: 20px
 }

 .asideMain span.stars {
     width: 32px;
 }

 .asideMain span.stars::after {
     content: "\f005";
 }

 .stars::after {
     color: #F2F2F2
 }

 .threeStars::after {
     content: "\f005\f005"
 }

 .threeStars::before {
     content: "\f005\f005\f005"
 }

 .forStars::after {
     content: "\f005"
 }

 .forStars::before {
     content: "\f005\f005\f005\f005"
 }

 .fiveStars::before {
     content: "\f005\f005\f005\f005\f005"
 }

 footer {
     bottom: 0;
     width: 100%;
     left: 0;
     background-color: #F2F2F2;
     margin-top: 7%;
     padding: 2% 0 3% 2%
 }

 .annexeLinks {
     flex: 1
 }